- name: Ansible on all hosts
  hosts: all
  gather_facts: false
  roles:
    - ansible_user
  handlers:
    - name: Restart sshd
      ansible.builtin.service:
        name: sshd
        state: restarted

- name: Proxmox node, cluster and VM management
  hosts: enterprise
  roles:
    - proxmox
