# TODO: uncomment when done with initial development
# - name: Verify ready
#   hosts: all
#   gather_facts: false
#   vars_prompt:
#     - name: ready
#       prompt: |
#         ---------------

#           Make sure you have:
#            - Bootstrapped every new physical device (Containers and VMs will bootstrap themselves)
#            - Configured IPs and MAC addresses in Unifi as needed
#                   (check secrets/mac_and_ip_addresses.json for predetermined static assignment)
#            - Signed in to 1Password CLI in the terminal with <op signin>

#           Continue? (y/N)
#               (Anything other than "y" will cancel the run)

#         ---------------
#       private: false
#       default: "n"
#   tasks:
#     - name: Fail all tasks if not ready
#       ansible.builtin.fail:
#         msg: "Not ready"
#       when: not ready_to_go
#       vars:
#         ready_to_go: "{{ ready == 'y' or ready == 'Y'}}"

- name: Ensure known_hosts is configured for all devices
  gather_facts: false
  hosts: devices
  roles:
    - ssh_known_hosts

- name: Get 1Password items for playbook
  hosts: localhost
  roles:
    - onepassword

- name: Proxmox node, cluster management
  hosts: enterprise
  roles:
    - proxmox

- name: Create Proxmox Templates
  hosts: enterprise
  roles:
    - proxmox_templates

- name: Proxmox container templates bootstrap
  gather_facts: false
  hosts: new_container_templates
  roles:
    - bootstrap

- name: Shut down containers for cloning
  hosts: enterprise
  tasks:
    - name: Turn off machine to prepare for cloning
      community.proxmox.proxmox:
        api_host: "{{ proxmox_node_ip }}"
        api_user: "{{ proxmox_admin_api_user }}"
        api_password: "{{ proxmox_admin_password }}"
        vmid: "{{ item.vmid }}"
        state: stopped
      loop: "{{ template_hosts }}"

- name: Create container clones
  hosts: enterprise
  roles:
    - proxmox_containers

- name: Set up SSH on containers
  hosts: containers
  roles:
    - ssh_known_hosts

- name: Update packages on running devices
  gather_facts: false
  hosts: debian_based:!container_templates
  tasks:
    - name: Update packages
      become: true
      ansible.builtin.apt:
        update_cache: true
        upgrade: "yes"
# - name: Clone containers and VMs in Proxmox
#   hosts: enterprise
#   tasks:
# clone the VMs/containers
#
- name: Andromeda Raspberry Pi setup
  hosts: andromeda
  roles:
    - andromeda
#
# - name: Install PiHole on cluster
#   hosts: pihole_cluster
#   roles:
#     - pihole

#
# - name: Debug
#   hosts: centaurus
#   tasks:
#     - name: TEST DEBUG
#       remote_user: "{{ root_user }}"
#       ignore_unreachable: true
#       ansible.builtin.ping:
#       register: root_connection

#     - name: Attempt connection as ansible
#       ignore_unreachable: true
#       ansible.builtin.ping:
#       register: ansible_connection

#     - name: Debug root
#       delegate_to: localhost
#       ansible.builtin.debug:
#         var: root_connection | ansible.builtin.json_query('unreachable') == true
#       ignore_errors: true
#       # when: root_connection.unreachable == true
