# TODO: uncomment when done with initial development
# - name: Verify ready
#   hosts: all
#   gather_facts: false
#   vars_prompt:
#     - name: ready
#       prompt: |
#         ---------------

#           Make sure you have:
#            - Bootstrapped every new physical device (Containers and VMs will bootstrap themselves)
#            - Configured IPs and MAC addresses in Unifi as needed
#                   (check secrets/mac_and_ip_addresses.json for predetermined static assignment)
#            - Signed in to 1Password CLI in the terminal with <op signin>

#           Continue? (y/N)
#               (Anything other than "y" will cancel the run)

#         ---------------
#       private: false
#       default: "n"
#   tasks:
#     - name: Fail all tasks if not ready
#       ansible.builtin.fail:
#         msg: "Not ready"
#       when: not ready_to_go
#       vars:
#         ready_to_go: "{{ ready == 'y' or ready == 'Y'}}"

- name: Get 1Password items for playbook
  hosts: localhost
  roles:
    - onepassword

- name: Proxmox node, cluster and VM management
  hosts: enterprise
  roles:
    - proxmox

- name: Proxmox container templates bootstrap
  gather_facts: false
  hosts: container_templates:!{{ (hostvars['enterprise']['proxmox_containers'] | ansible.builtin.json_query('proxmox_vms') | map(attribute='name')) | map('replace','-','_')  }}
  roles:
    - bootstrap
#
# - name: Clone containers and VMs in Proxmox
#   hosts: enterprise
#   tasks:
# clone the VMs/containers
#
# - name: Andromeda Raspberry Pi setup
#   hosts: andromeda
#   roles:
#     - andromeda
#
# - name: Install PiHole on cluster
#   hosts: pihole_cluster
#   roles:
#     - pihole
