- name: Get 1Password items for playbook
  hosts: localhost
  roles:
    - 1password

- name: Ansible user on all devices
  hosts: devices
  gather_facts: false
  roles:
    - ansible_user
  handlers:
    - name: Restart sshd
      become: true
      ansible.builtin.command: service ssh restart

- name: Debian setup with sudo
  hosts: debian_based
  gather_facts: false
  roles:
    - sudo

- name: Proxmox node, cluster and VM management
  hosts: enterprise
  roles:
    - proxmox

- name: Debian package updates
  hosts: debian_based
  gather_facts: false
  roles:
    - debian

- name: Andromeda Raspberry Pi setup
  hosts: andromeda
  roles:
    - andromeda
#### TODO: uncomment after primary development
# vars_prompt:
#   - name: logged_into_onepassword
#     prompt: |

#       ---------------

#       Have you run <op signin> in the terminal? (y/N)
#             (Anything other than "y" will cancel the run)

#       ---------------
#     private: false
#     default: "n"

# tasks:
# ### TODO: uncomment after primary development
#   - name: End the playbook if not logged into 1Password
#     ansible.builtin.meta: end_play
#     when:
#       - logged_into_onepassword != "y"
# - name: Import Proxmox Root Role
#   ansible.builtin.import_role:
#     name: proxmox_root
# - name: Import Proxmox Admin Role
#   ansible.builtin.import_role:
#     name: proxmox_admin
