---
- name: Create the container
  community.proxmox.proxmox:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    cores: 2
    description: "Managed by Ansible"
    disk_volume:
      size: 20 # in GiB
      storage: "{{ proxmox_vm_ct_disk_storage }}"
    hostname: "{{ sanitized_hostname }}"
    memory: 2148 # in MB
    netif:
      net0: "name=eth0,ip=dhcp,bridge=vmbr0,firewall=1,hwaddr={{ mac_address }}"
    node: "{{ proxmox_node_hostname }}"
    onboot: true
    ostemplate: "{{ proxmox_vm_ct_iso_vztmpl_storage }}:vztmpl/{{ proxmox_debian_12_vztmpl_filename }}"
    ostype: debian
    pubkey: "{{ proxmox_ansible_public_key }}"
    state: present
    swap: 512
    timezone: host
    update: false
    vmid: "{{ vmid }}"
  register: container
  vars:
    mac_address: "{{ ((lookup('ansible.builtin.file', 'secrets/mac_and_ip_addresses.json') | ansible.builtin.from_json) | ansible.builtin.json_query(hostname)).mac }}"

- name: Set console mode to shell
  block:
    - name: Check for cmode
      ansible.builtin.uri:
        url: "https://{{ proxmox_node_ip }}:8006/api2/json/nodes/{{ proxmox_node_hostname }}/lxc/{{ vmid }}/config"
        method: GET
        validate_certs: no
        headers:
          Cookie: "PVEAuthCookie={{ ticket_response.json.data.ticket }}"
          CSRFPreventionToken: "{{ ticket_response.json.data.CSRFPreventionToken }}"
      register: container_config
    - name: Set cmode if it's not shell
      ansible.builtin.uri:
        url: "https://{{ proxmox_node_ip }}:8006/api2/json/nodes/{{ proxmox_node_hostname }}/lxc/{{ vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Cookie: "PVEAuthCookie={{ ticket_response.json.data.ticket }}"
          CSRFPreventionToken: "{{ ticket_response.json.data.CSRFPreventionToken }}"
        body_format: json
        body: { "cmode": "shell" }
      when: cmode_not_shell
  vars:
    cmode_not_shell: "{{ (container_config.json.data | ansible.builtin.json_query('cmode')) == None or container_config.json.data.cmode != 'shell' }}"

- name: Start up the container
  community.proxmox.proxmox:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    vmid: "{{ vmid }}"
    state: started
# - name: Bootstrapping steps only
#   block:
#     - name: Ansible User bootstrapping
#       delegate_to: "{{ ip_address }}"
#       remote_user: "{{ root_user }}"
#       ansible.builtin.import_tasks: roles/bootstrap/tasks/ansible_user.yml

#     - name: Debian bootstrapping
#       delegate_to: "{{ ip_address }}"
#       remote_user: "{{ root_user }}"
#       ansible.builtin.import_tasks: roles/bootstrap/tasks/debian.yml

#     - name: Debian container bootstrapping (includes shutdown)
#       delegate_to: "{{ ip_address }}"
#       remote_user: "ansible"
#       ansible.builtin.import_tasks: roles/bootstrap/tasks/debian_containers.yml
#       vars:
#         vmid: "{{ vmid }}"
#   when: (sanitized_hostname) not in (proxmox_containers | ansible.builtin.json_query('proxmox_vms') | map(attribute='name'))
#   vars:
#     ip_address: "{{ ((lookup('ansible.builtin.file', 'secrets/mac_and_ip_addresses.json') | ansible.builtin.from_json) | ansible.builtin.json_query(hostname)).ip }}"
