---
- name: Create HomeAssistant audit role
  proxmox_pveum:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    roleid: "{{ proxmox_homeassistant_audit_role }}"
    privs: "Datastore.Audit Sys.Audit VM.Audit"
    state: present
- name: Create HomeAssistant update role
  proxmox_pveum:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    roleid: "{{ proxmox_homeassistant_update_role }}"
    privs: "Sys.Modify"
    state: present
- name: Create HomeAssistant node power management role
  proxmox_pveum:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    roleid: "{{ proxmox_homeassistant_node_power_mgmt_role }}"
    privs: "Sys.PowerMgmt"
    state: present
- name: Create HomeAssistant VM power management role
  proxmox_pveum:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    roleid: "{{ proxmox_homeassistant_vm_power_mgmt_role }}"
    privs: "VM.PowerMgmt"
    state: present
- name: Configure HomeAssistant group
  community.proxmox.proxmox_group:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    comment: Managed by Ansible
    groupid: "homeassistant"
    state: "present"
  register: proxmox_homeassistant_group
- name: Configure HomeAssistant user
  community.proxmox.proxmox_user:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    comment: Managed by Ansible
    enable: true
    userid: "homeassistant@pve"
    groups:
      - "{{ proxmox_homeassistant_group | community.general.json_query('groupid') }}"
    state: "present"
  register: proxmox_homeassistant_user
- name: Add HomeAssistant audit group permissions
  community.proxmox.proxmox_access_acl:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    path: /
    type: group
    state: present
    ugid: "{{ proxmox_homeassistant_group | community.general.json_query('groupid') }}"
    roleid: "{{ proxmox_homeassistant_audit_role }}"
    propagate: true
- name: Add HomeAssistant update group permissions
  community.proxmox.proxmox_access_acl:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    path: /
    type: group
    state: present
    ugid: "{{ proxmox_homeassistant_group | community.general.json_query('groupid') }}"
    roleid: "{{ proxmox_homeassistant_update_role }}"
    propagate: true
- name: Add HomeAssistant node power management group permissions
  community.proxmox.proxmox_access_acl:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    path: /
    type: group
    state: present
    ugid: "{{ proxmox_homeassistant_group | community.general.json_query('groupid') }}"
    roleid: "{{ proxmox_homeassistant_node_power_mgmt_role }}"
    propagate: true
- name: Add HomeAssistant VM power management group permissions
  community.proxmox.proxmox_access_acl:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    path: /
    type: group
    state: present
    ugid: "{{ proxmox_homeassistant_group | community.general.json_query('groupid') }}"
    roleid: "{{ proxmox_homeassistant_vm_power_mgmt_role }}"
    propagate: true
- name: HomeAssistant user token
  block:
    - name: Read HomeAssistant user info
      community.proxmox.proxmox_user_info:
        api_host: "{{ proxmox_node_ip }}"
        api_user: "{{ proxmox_admin_api_user }}"
        api_password: "{{ proxmox_admin_password }}"
        userid: "{{ proxmox_homeassistant_user.userid }}"
      register: proxmox_homeassistant_user_info
    - name: Create HomeAssistant user token if one doesn't exist
      become: true
      ansible.builtin.command:
        cmd: "pvesh create /access/users/{{ proxmox_homeassistant_user.userid }}/token/homeassistant_token --comment='Managed by Ansible' --output-format=json"
      when: not proxmox_homeassistant_user_token_exists
      register: proxmox_homeassistant_user_token
  vars:
    proxmox_homeassistant_user_token_exists: "{{ proxmox_homeassistant_user_info.proxmox_users[0].tokens | length > 0 }}"
- name: Create an item in 1Password if one doesn't exist
  ansible.builtin.shell: |
    op item create --category=login --title="Proxmox HomeAssistant User" --vault="Homelab" username="{{ proxmox_homeassistant_user_token_id }}" "API Token[password]={{ proxmox_homeassistant_user_token_value }}" </dev/null
  when: not proxmox_homeassistant_1password_item_exists
  delegate_to: localhost
  vars:
    proxmox_homeassistant_1password_item_exists: "{{ hostvars['localhost']['onepassword_items'].stdout_lines | select('search', 'Proxmox HomeAssistant User') | list | length > 0 }}"
    proxmox_homeassistant_user_token_json: "{{ proxmox_homeassistant_user_token.stdout | ansible.builtin.from_json }}"
    proxmox_homeassistant_user_token_id: "{{ proxmox_homeassistant_user_token_json['full-tokenid'] }}"
    proxmox_homeassistant_user_token_value: "{{ proxmox_homeassistant_user_token_json.value }}"
