---
- name: Create Homepage audit role
  proxmox_pveum:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    roleid: "{{ proxmox_homepage_audit_role }}"
    privs: "Datastore.Audit Mapping.Audit Pool.Audit SDN.Audit Sys.Audit VM.Audit VM.GuestAgent.Audit"
    state: present
- name: Create Homepage power management role
  proxmox_pveum:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    roleid: "{{ proxmox_homepage_power_mgmt_role }}"
    privs: "Sys.PowerMgmt VM.PowerMgmt"
    state: present
- name: Configure Homepage group
  community.proxmox.proxmox_group:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    comment: Managed by Ansible
    groupid: "homepage"
    state: "present"
  register: proxmox_homepage_group
- name: Configure Homepage user
  community.proxmox.proxmox_user:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    comment: Managed by Ansible
    enable: true
    userid: "homepage@pve"
    groups:
      - "{{ proxmox_homepage_group | community.general.json_query('groupid') }}"
    state: "present"
  register: proxmox_homepage_user
- name: Add Homepage audit group permissions
  community.proxmox.proxmox_access_acl:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    path: /
    type: group
    state: present
    ugid: "{{ proxmox_homepage_group | community.general.json_query('groupid') }}"
    roleid: "{{ proxmox_homepage_audit_role }}"
    propagate: true
- name: Add Homepage power management group permissions
  community.proxmox.proxmox_access_acl:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    path: /
    type: group
    state: present
    ugid: "{{ proxmox_homepage_group | community.general.json_query('groupid') }}"
    roleid: "{{ proxmox_homepage_power_mgmt_role }}"
    propagate: true
- name: Homepage user token
  block:
    - name: Read Homepage user info
      community.proxmox.proxmox_user_info:
        api_host: "{{ proxmox_node_ip }}"
        api_user: "{{ proxmox_admin_api_user }}"
        api_password: "{{ proxmox_admin_password }}"
        userid: "{{ proxmox_homepage_user.userid }}"
      register: proxmox_homepage_user_info
    - name: Create Homepage user token if one doesn't exist
      become: true
      ansible.builtin.command:
        cmd: "pvesh create /access/users/{{ proxmox_homepage_user.userid }}/token/homepage_token --comment='Managed by Ansible' --output-format=json"
      when: not proxmox_homepage_user_token_exists
      register: proxmox_homepage_user_token
  vars:
    proxmox_homepage_user_token_exists: "{{ proxmox_homepage_user_info.proxmox_users[0].tokens | length > 0 }}"
- name: Create an item in 1Password if one doesn't exist
  ansible.builtin.shell: |
    op item create --category=login --title="Proxmox Homepage User" --vault="Homelab" username="{{ proxmox_homepage_user_token_id }}" "API Token[password]={{ proxmox_homepage_user_token_value }}" </dev/null
  when: not proxmox_homepage_1password_item_exists
  delegate_to: localhost
  vars:
    proxmox_homepage_1password_item_exists: "{{ hostvars['localhost']['onepassword_items'].stdout_lines | select('search', 'Proxmox Homepage User') | list | length > 0 }}"
    proxmox_homepage_user_token_json: "{{ proxmox_homepage_user_token.stdout | ansible.builtin.from_json }}"
    proxmox_homepage_user_token_id: "{{ proxmox_homepage_user_token_json['full-tokenid'] }}"
    proxmox_homepage_user_token_value: "{{ proxmox_homepage_user_token_json.value }}"
