---
- name: Request auth ticket
  ansible.builtin.uri:
    url: "https://{{ proxmox_node_ip }}:8006/api2/json/access/ticket"
    method: POST
    validate_certs: no
    body_format: json
    body:
      {
        "username": "{{ proxmox_admin_api_user }}",
        "password": "{{ proxmox_admin_password }}",
      }
  register: ticket_response
- name: Ensure sudo is installed
  remote_user: root
  ansible.builtin.apt:
    package: sudo
- name: Handle enterprise and no-subscription repository
  ansible.builtin.import_tasks:
    file: enterprise_repos.yml
- name: Required packages
  ansible.builtin.import_tasks:
    file: required_packages.yml
- name: Debian favorite packages
  ansible.builtin.import_tasks:
    file: ../../debian/tasks/main.yml
- name: Import admin user role
  ansible.builtin.import_role:
    name: admin_user
- name: Install templates for containers
  ansible.builtin.import_tasks:
    file: install_templates.yml
- name: Create HomeAssistant service account
  ansible.builtin.import_tasks:
    file: homeassistant_service.yml
- name: Create Homepage service account
  ansible.builtin.import_tasks:
    file: homepage_service.yml
- name: Network Configuration
  ansible.builtin.import_tasks:
    file: network.yml
- name: Storage Configuration
  ansible.builtin.import_tasks:
    file: storage.yml
- name: Containers
  ansible.builtin.import_tasks:
    file: containers.yml
