---
#################################
# repos, packages, admin user
#################################
- ansible.builtin.import_tasks: roles/proxmox/tasks/nodes/enterprise_repos.yml
- ansible.builtin.import_tasks: roles/proxmox/tasks/nodes/required_packages.yml
- ansible.builtin.import_tasks: roles/proxmox/tasks/nodes/admin_user.yml

#################################
# API authentication
#################################
- name: Request auth ticket
  ansible.builtin.uri:
    url: "https://{{ proxmox_node_ip }}:8006/api2/json/access/ticket"
    method: POST
    validate_certs: no
    body_format: json
    body:
      {
        "username": "{{ proxmox_admin_api_user }}",
        "password": "{{ proxmox_admin_password }}",
      }
  register: ticket_response

#################################
# Node configuration
#################################
- ansible.builtin.import_tasks: roles/proxmox/tasks/nodes/templates.yml
- ansible.builtin.import_tasks: roles/proxmox/tasks/nodes/network.yml
- ansible.builtin.import_tasks: roles/proxmox/tasks/nodes/storage.yml

#################################
# Service accounts
#################################
- ansible.builtin.import_tasks: roles/proxmox/tasks/service_users/homeassistant.yml
- ansible.builtin.import_tasks: roles/proxmox/tasks/service_users/homepage.yml

#################################
# Create containers
#################################
- name: Create containers
  ansible.builtin.include_tasks:
    file: "roles/proxmox/tasks/containers/{{ item }}.yml"
  loop:
    - centaurus
  vars:
    hostname: "{{ item }}"
