---
- name: Install and Configure Pihole
  block:
    - name: Andromeda Pihole Container
      community.proxmox.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: "{{ admin_api_user }}"
        api_password: "{{ admin_api_password }}"
        password: "{{ andromeda_pihole_root_password }}"
        pubkey: "{{ admin_public_key }}"
        state: started
        cores: 2
        disk: "{{ vm_ct_disk_storage + ':20'}}"
        hostname: andromeda-pihole
        ostype: unmanaged
        memory: 2048
        swap: 512
        nameserver: "{{ trusted_gateway }}"
        node: "{{ api_hostname }}"
        onboot: true
        ostemplate: "{{ 'local:vztmpl/' + debian_13_vztmpl_filename }}"
        netif:
          net0: "{{ 'name=eth0,gw=' + trusted_gateway + ',ip=' + andromeda_pihole_ip_address + '/24,bridge=vmbr0,firewall=1' }}"
      register: andromeda_pihole_lxc
    - name: Change console config
      block:
        - name: Check config
          community.proxmox.proxmox_vm_info:
            api_host: "{{ ansible_host }}"
            api_user: "{{ admin_api_user }}"
            api_password: "{{ admin_api_password }}"
            vmid: "{{ andromeda_pihole_lxc | community.general.json_query('vmid') }}"
            config: current
          register: andromeda_pihole_lxc_config
        - name: Change config if necessary
          block:
            - name: Request auth ticket
              uri:
                url: "https://{{ ansible_host }}:{{ api_port }}/api2/json/access/ticket"
                method: POST
                validate_certs: no
                body_format: json
                body:
                  {
                    "username": "{{ admin_api_user }}",
                    "password": "{{ admin_api_password }}",
                  }
              register: ticket_response
            - name: Set console mode to shell
              uri:
                url: "https://{{ ansible_host }}:{{ api_port }}/api2/json/nodes/{{ api_hostname}}/lxc/{{ andromeda_pihole_lxc | community.general.json_query('vmid') }}/config"
                method: PUT
                validate_certs: no
                headers:
                  Cookie: "PVEAuthCookie={{ ticket_response.json.data.ticket }}"
                  CSRFPreventionToken: "{{ ticket_response.json.data.CSRFPreventionToken }}"
                body_format: json
                body: { "cmode": "shell" }
          when: (andromeda_pihole_lxc_config | community.general.json_query('proxmox_vms[0].config.cmode')) != "shell"
