---
- name: Create container clones
  ansible.builtin.include_tasks:
    file: "roles/proxmox_containers/tasks/clone.yml"
  loop: "{{ hostvars['enterprise']['container_clone_hosts'] }}"
  vars:
    #
    # required in host definition
    #
    hostname: "{{ item.name }}"
    clone_vmid: "{{ item.clone_vmid }}"
    #
    # calculated
    #
    sanitized_hostname: "{{ item.name | replace('_', '-') }}"
    clone_host_record: "{{ lookup('ansible.builtin.file', (inventory_dir ~ '/secrets/mac_and_ip_addresses.json')) | ansible.builtin.from_json | ansible.builtin.json_query(hostname) }}"
    mac_address: "{{ clone_host_record.mac }}"
    ip_address: "{{ clone_host_record.ip }}"
