---
- name: Remove enterprise repos
  block:
    - name: Ceph repo
      ansible.builtin.file:
        path: /etc/apt/sources.list.d/ceph.sources
        state: absent
    - name: PVE Enterprise repo
      ansible.builtin.file:
        path: /etc/apt/sources.list.d/pve-enterprise.sources
        state: absent
    - name: No Subscription repo
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/proxmox.sources
        mode: "0600"
        content: |
          Types: deb
          URIs: http://download.proxmox.com/debian/pve
          Suites: trixie
          Components: pve-no-subscription
          Signed-By: /usr/share/keyrings/proxmox-archive-keyring.gpg
    - name: Package update
      ansible.builtin.apt:
        update_cache: true
        upgrade: "dist"
- name: Ensure pip is installed
  ansible.builtin.apt:
    package: python3-pip
    update_cache: true
- name: Ensure vim is installed
  ansible.builtin.apt:
    package: vim
    update_cache: true
- name: Ensure proxmoxer is installed
  ansible.builtin.apt:
    package: python3-proxmoxer
    update_cache: true
- name: Proxmox actions
  block:
    - name: Set up admin user
      block:
        - name: Create linux user for admin
          ansible.builtin.user:
            name: "{{ admin_username }}"
            password: "{{ admin_password }}"
            group: sudo
            shell: /bin/bash
          register: linux_user_step
        - name: Add SSH key for admin user
          ansible.posix.authorized_key:
            user: "{{ admin_username }}"
            key: "{{ admin_public_key }}"
        - name: Configure admin user in Proxmox
          community.proxmox.proxmox_user:
            api_host: "{{ ansible_host }}"
            api_user: "{{ root_api_user }}"
            api_password: "{{ root_api_password }}"
            comment: Managed by Ansible
            email: "{{ admin_email }}"
            firstname: "{{ admin_firstname }}"
            enable: true
            userid: "{{ admin_username + '@' + admin_authentication_realm }}"
        - name: Add admin permissions
          community.proxmox.proxmox_access_acl:
            api_host: "{{ ansible_host }}"
            api_user: "{{ root_api_user }}"
            api_password: "{{ root_api_password }}"
            path: /
            type: user
            state: present
            ugid: "{{ admin_username + '@' + admin_authentication_realm }}"
            roleid: Administrator
            propagate: true
