---
- name: Add SSH key to known_hosts on local
  block:
    - name: Scan for SSH key
      ansible.builtin.shell: |
        ssh-keyscan -q "{{ ansible_host }}"
      delegate_to: localhost
      register: ssh_scan
    - name: Add to known hosts
      ansible.builtin.known_hosts:
        name: "{{ ansible_host }}"
        key: "{{ pub_key }}"
      loop: "{{ ssh_scan.stdout_lines }}"
      loop_control:
        loop_var: pub_key
      delegate_to: localhost
