---
- name: Remove Ceph repo
  become: true
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/ceph.sources
    state: absent
- name: Remove PVE Enterprise repo
  become: true
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/pve-enterprise.sources
    state: absent
- name: Add No Subscription repo
  become: true
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/proxmox.sources
    mode: "0644"
    content: |
      Types: deb
      URIs: http://download.proxmox.com/debian/pve
      Suites: trixie
      Components: pve-no-subscription
      Signed-By: /usr/share/keyrings/proxmox-archive-keyring.gpg
- name: Dist-update packages
  become: true
  ansible.builtin.apt:
    update_cache: true
    upgrade: "dist"
