---
# configure with the determined MAC address
- name: Create a full clone of the container
  # Storage must be defined
  community.proxmox.proxmox:
    api_host: "{{ proxmox_node_ip }}"
    api_user: "{{ proxmox_admin_api_user }}"
    api_password: "{{ proxmox_admin_password }}"
    node: "{{ proxmox_node_hostname }}"
    clone: 999
    hostname: "{{ hostname }}"
    storage: "{{ proxmox_vm_ct_disk_storage }}"
    netif:
      net0: "name=eth0,ip=dhcp,bridge=vmbr0,firewall=1,hwaddr={{ mac_address }}"
  vars:
    mac_address: "{{ ((lookup('ansible.builtin.file', 'secrets/mac_and_ip_addresses.json') | ansible.builtin.from_json) | ansible.builtin.json_query(hostname)).mac }}"
# - name: Add SSH key to known_hosts on local
#   block:
#     - name: Scan for SSH key
#       ansible.builtin.shell: |
#         ssh-keyscan -q "{{ ip_address }}"
#       delegate_to: localhost
#       register: ssh_scan
#     - name: Add to known hosts
#       ansible.builtin.known_hosts:
#         name: "{{ ip_address }}"
#         key: "{{ pub_key }}"
#       loop: "{{ ssh_scan.stdout_lines }}"
#       loop_control:
#         loop_var: pub_key
#       delegate_to: localhost
#   vars:
#     ip_address: "{{ ((lookup('ansible.builtin.file', 'secrets/mac_and_ip_addresses.json') | ansible.builtin.from_json) | ansible.builtin.json_query(hostname)).ip }}"
